<launch>
	<include file="driver.launch"/>
	<node pkg="stereo_webcam" type="test_node.py" name="sync_test">
		<param name="cameras" value="2"/>
		<remap from="camera0/image_raw" to="left/image_raw"/>
		<remap from="camera1/image_raw" to="right/image_raw"/>
	</node>
	<node pkg="image_view" type="image_view" name="sync_view">
		<remap from="image" to="image_sync"/>
	</node>
</launch>
