<launch>
	<arg name="camera"/>
	<include file="$(find stereo_webcam)/launch/navi_hardware.launch"/>
	<group ns="vision">
		<node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator" args="--size=5x3 --square=0.127">
			<remap from="image"  to="$(arg camera)/image_raw"/>
			<remap from="camera" to="$(arg camera)"/>
		</node>
	</group>
</launch>
