<launch>
	<group ns="vision">
	<node pkg="stereo_webcam" type="stereo_node" name="driver">
		<param name="cameras" value="3"/>
		<param name="device0" value="/dev/video_left"/>
		<param name="device1" value="/dev/video_middle"/>
		<param name="device2" value="/dev/video_right"/>
		<param name="params0" value="file:///home/mckoval/igvc/left.yaml"/>
		<param name="params1" value="file:///home/mckoval/igvc/middle.yaml"/>
		<param name="params2" value="file:///home/mckoval/igvc/right.yaml"/>

		<param name="width"  value="640"/>
		<param name="height" value="480"/>
		<param name="nbuf"   value="10"/>
		<param name="fps"    value="10"/>

		<remap from="camera0" to="left"/>
		<remap from="camera1" to="middle"/>
		<remap from="camera2" to="right"/>
		<remap from="left/image"   to="left/image_raw"/>
		<remap from="middle/image" to="middle/image_raw"/>
		<remap from="right/image"  to="right/image_raw"/>
	</node>
	<node pkg="stereo_mux" type="mux_node" name="stereo_mux">
		<param name="fps" value="10"/>
		<param name="info_nl" value="file://$(find stereo_webcam)/calibration/nl.yaml"/>
		<param name="info_nr" value="file://$(find stereo_webcam)/calibration/nr.yaml"/>
		<param name="info_wl" value="file://$(find stereo_webcam)/calibration/wl.yaml"/>
		<param name="info_wr" value="file://$(find stereo_webcam)/calibration/wr.yaml"/>
	</node>
	</group>
</launch>
