<launch>
	<group ns="stereo">
		<include file="$(find stereo_webcam)/launch/driver.launch"/>
		<node pkg="stereo_mux" type="mux_node" name="stereo_mux">
			<param name="fps" value="10"/>
		</node>
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_proc">
			<remap from="stereo" to="pseudo"/>
			<remap from="image"  to="image_color"/>
			<remap from="left/image_raw"    to="pseudo/left/image_raw"/>
			<remap from="right/image_raw"   to="pseudo/right/image_raw"/>
			<remap from="left/camera_info"  to="pseudo/left/camera_info"/>
			<remap from="right/camera_info" to="pseudo/right/camera_info"/>
		</node>
	</group>
	<node pkg="image_view" type="stereo_view" name="stereo_view">
		<remap from="image" to="image_color"/>
	</node>
</launch>
