<launch>
	<include file="driver3.launch"/>
	<node pkg="stereo_switcher" type="switcher_node" name="stereo_mux">
		<param name="fps" value="5"/>
		<remap from="camera0/image_raw" to="left/image_raw"/>
		<remap from="camera1/image_raw" to="middle/image_raw"/>
		<remap from="camera2/image_raw" to="right/image_raw"/>
		<remap from="camera0/camera_info" to="left/camera_info"/>
		<remap from="camera1/camera_info" to="middle/camera_info"/>
		<remap from="camera2/camera_info" to="right/camera_info"/>
		<remap from="pseudo0/image" to="pseudo0/image_raw"/>
		<remap from="pseudo1/image" to="pseudo1/image_raw"/>
	</node>
	<node pkg="stereo_webcam" type="test_node.py" name="sync_test">
		<param name="cameras" value="2"/>
		<remap from="camera0/image_raw" to="pseudo0/image_raw"/>
		<remap from="camera1/image_raw" to="pseudo1/image_raw"/>
	</node>
	<node pkg="image_view" type="image_view" name="sync_view">
		<remap from="image" to="image_sync"/>
	</node>
</launch>
