<launch>
	<node pkg="stereo_webcam" type="stereo_node" name="camera_front">
		<rosparam command="load" file="$(find navi_cfg)/params/camera_general.yaml"/>
		<param name="cameras" value="3"/>
		<param name="device0" value="/dev/video0"/>
		<param name="device1" value="/dev/video1"/>
		<param name="device2" value="/dev/video2"/>
		<param name="width"  value="640"/>
		<param name="height" value="480"/>
	</node>
	<node pkg="stereo_webcam" type="test_node.py" name="sync_test">
		<param name="cameras" value="3"/>
	</node>
	<node pkg="image_view" type="image_view" name="sync_view">
		<remap from="image" to="image_sync"/>
	</node>
</launch>
